*{margin: 0;
    padding: 0;
  }
  html{
    height: 100%;
  }

 body{
    background-image: url(fly.jpg);
    /* width: 100%; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
 }

 body{
    text-align: center;
    font-size:  20px;
 }
input {
display: block;
border: 3px solid black;
outline: none;
width: 15%;
margin: 11px auto;
padding: 1px;
}
footer{
  font-size: 15px;
}
